<%- include partials/header %>
<form method="post">
<div class="form-group">
  <label for="name">标题</label>
  <input type="text" class="form-control" name="title" placeholder="请输入文章标题">
</div>
<div class="form-group">
  <label for="name">正文</label>
  <textarea class="form-control" name="post" rows="20" cols="100"></textarea><br>
  <button type="submit" class="btn btn-success btn-large">发表</button>
</div>
</form>
<%- include partials/footer %>
