<%-include partials/header %>
<form method="post">
<div class="form-group">
  <label for="name">用户名:</label>
  <input type="text" class="form-control" name="name" placeholder="请输入用户名">
</div>
<div class="form-group">
  <label for="name">密码</label>
  <input type="password" class="form-control" name="password" placeholder="请输入密码">
  <label for="name">确认密码</label>
  <input type="password" class="form-control" name="password-repeat" placeholder="请重新输入确认密码">
  <label for="name">邮箱:</label>
  <input type="email" class="form-control" name="email" placeholder="请输入文章标题">
</div>
<div>
  <button type="submit" class="btn btn-default">注册</button>
</div>
</form>
<%-include partials/footer %>
