<%-include partials/header %>
<script type="text/javascript">
  function previewImage(file) {
    var MAXWIDTH = 260,
    MAXHEIGHT = 180,
    div = document.getElementById('preview');
    if (file.files && file.files[0]) {
      div.innerHTML = '<img id=imghead>';
      var img = document.getElementById('imghead');
      img.onload = function() {
        var rect = getImageRect(img, MAXWIDTH, MAXHEIGHT);
        img.width = rect.width;
        img.height = rect.height;
      }
      var reader = new FileReader();
      reader.onload = function(evt) {
        img.src = evt.target.result;
      }
      reader.readAsDataURL(file.files[0]);
    }
  }
  function getImageRect(image, width, height) {
    var rect = {
      x: 0,
      y: 0,
    };
    if (image.offsetWidth > image.offsetHeight) {
      rect.width = width;
      rect.height = image.offsetHeight * width / image.offsetWidth;
    }
    else if (image.offsetHeight > image.offsetWidth) {
      rect.height = height;
      rect.width = image.offsetWidth * height / image.offsetHeight;
    }
    else {
      rect.width = image.width;
      rect.height = image.height;
    }
    return rect;
  }
</script>
<div id="preview">
  <img id="imghead">
</div>
<form action="/upload" method="post" enctype="multipart/form-data">
  <input type="file" name="file" onchange="previewImage(this)">
  <button type="submit" class="btn btn-default">发表</button>
</form>
<%-include partials/footer %>
