<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title><%= title %></title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <style media="screen">
      body {
        margin: 0px;
        padding: 0px;
      }
      .bar {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #27ae60;
        box-shadow: 0px 0px 5px #888899;
        position:absolute;
        top: 0px;
        z-index: 1;
        bottom:rem-calc(80px);
      }
      #list {
        top: 54px;
        position: relative;
      }
      a h5 {
        color: #27ae60;
      }
      hr {
        margin-top: 0px;
        margin-bottom: 0px;
      }
    </style>
  </head>
  <body>
    
  </body>
</html>
