<%- include header %>
    <h1><%= title %></h1>
    <p>
      Welcome,<%= user.name %>.
    </p>
    <ul>
      <li><a href="/member-manager">人员管理</a></li>
      <li><a href="/documents-manager">取货单管理</a></li>
      <li><a href="/error-position">异常仓位上报</a></li>
    </ul>

<%- include footer %>
